// COLORS

$color-1: #18BFEF;
$color-2: #F6F6F6;
$color-3: #717981;
$color-neutral: #4E403D;
$color-text: #212931;

$color-block-dim: 120px;

//-----------------------
// COLOR BLOCKS
//-----------------------
.color-block {
    width: $color-block-dim;
    height: $color-block-dim;
    display: inline-block;
    &.color-1{
        background: $color-1;
    }
    &.color-2{
        background: $color-2;
    }
    &.color-3{
        background: $color-3;
    }
    &.color-neutral{
        background: $color-neutral;
    }
    &.color-text{
        background: $color-text;
    }
}