//------------------------
// VARIABLES BORDER
//------------------------

//$border-footer: 2px solid $color-3;
  $border-footer: 2px solid rgba(113, 121, 129, 0.5);

//----------------------------
// PRIMARY FOOTER WITH A FORM
//----------------------------

.primary-footer{
    background-color: $color-2;
    gap: 0;
    section{
        opacity: 0.6;
    }
    form{
        padding: 2em;
    }
    input[type=text], input[type=email], textarea{
        width: 100%;
    }
    
}

//--------------------------
// EASY CLASS FOR BORDER
//--------------------------

.border-left{
    border-left: $border-footer;
}

.border-top{
    border-top: $border-footer;
}

.border-right{
    border-right: $border-footer;
}

.border-bottom{
    border-bottom: $border-footer;
}

//------------------------
// FOOTER SECTION
//------------------------

.footer-bloc{
    height: 25%;
    padding: 2em;
}

.footer-social{
    margin: 0;
    padding: 0;
    li{
        display: inline;
    }
}

.copyright_footer{
    background-color: $color-text;
    color: $color-2;
    font-family: $font-2;
}