//---------------------
// VARIABLES FORMS
//---------------------

$form-padding: 1em;

//---------------------
// FORMS
//---------------------

input{
    padding: $form-padding;
    font-family: $font-1;
    border: 1px solid $color-3;
}

select{
    border-radius: 0%;
    -webkit-appearance: none;
    padding: $form-padding;
    border: 1px solid $color-3;
}