//------------------------------
// EASY CLASS FOR FLOAT PICTURE
//------------------------------

.float-left{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.float-right{
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.float-text{
    margin-top: 0;
}

//---------------------------
// PICTURE WITH SCALE EFFECT
//---------------------------

.full-picture{
    width: 100%;
    transition: 300ms ease-in-out;
    &:hover{
        transform: scale(1.2);
        z-index: 1;
        transition: 300ms ease-in-out;
    }
}

.boxpicture{
    overflow: hidden;
}