.float-left{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.float-right{
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.float-text{
    margin-top: 0;
}

.full-picture{
    width: 100%;
}