@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
// PARAGRAPHES
$font-1: 'Merriweather', serif;
$font-color-default: $color-text;
$font-size-default: 1.1rem;
$font-weight-default: 400;
$line-height-default: 1.65;
// TITLES
$font-2: 'Source Sans Pro', sans-serif;
$font-color-h1: $color-text;
$font-size-h1: 3.5rem;
$font-weight-h1: 900;
$line-height-h1: 1.2;
$margin-h1: 0 0 .7rem 0;

$font-size-h2: 1.5rem;
$font-weight-h2: 900;
$line-height-h2: 1.5;
$margin-h2: 0 0 .7rem 0;

$font-size-h3: 1.25rem;
$font-weight-h3: 900;
$line-height-h3: 1.5;
$margin-h3: 0 0 .7rem 0;

$font-size-h4: 1.1rem;
$font-weight-h4: 900;
$line-height-h4: 1.2;
$margin-h4: 0 0 .7rem 0;

// LINKS
$link-color: $color-text;
$link-decoration: underline dotted;
$link-hover-color: $color-1;
$link-hover-decoration: none;

// CODE
$code-color: $color-text;
$code-background: $color-2;
$code-padding: .3em;
$code-border: $color-3 1px solid;
$code-border-radius: $border-radius-default;

// HR
$hr-height: 1px;
$hr-color: $color-3;
$hr-margin: 3rem 0;

//--------------------------
// DEFAULT SPECIFICATIONS
//--------------------------
body{
    font-family: $font-1;
    font-size: $font-size-default;
    font-weight: $font-weight-default;
    line-height: $line-height-default;
    color: $font-color-default;
}

a{
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover{
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

hr{
    height: $hr-height;
    background: $hr-color;
    margin: $hr-margin;
    border: none;
}

code{
    color: $code-color;
    background: $code-background;
    padding: $code-padding;
    border: $code-border;
}

h1, .h1 {
    font-family: $font-2;
    color: $font-color-h1;
    font-size: $font-size-h1;
    font-weight: $font-weight-h1;
    line-height: $line-height-h1;
    margin: $margin-h1;
}

h2, .h2 {
    font-family: $font-2;
    color: $font-color-h1;
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;
    line-height: $line-height-h2;
    margin: $margin-h2;
}

h3, .h3 {
    font-family: $font-2;
    color: $font-color-h1;
    font-size: $font-size-h3;
    font-weight: $font-weight-h3;
    line-height: $line-height-h3;
    margin: $margin-h3;
}

h4, .h4 {
    font-family: $font-2;
    color: $font-color-h1;
    font-size: $font-size-h4;
    font-weight: $font-weight-h4;
    line-height: $line-height-h4;
    margin: $margin-h4;
}

li{
    margin: 1em;
    margin-left: 0;
}



p{
    margin-top: 2em;
}

blockquote{
    border-left: 3px solid $color-3;
    margin-left: 0;
    padding-left: 2em;
}

pre{
    background-color: $color-2;
    border: 1px solid $color-3;
    padding: 2em;
    overflow: hidden;
}

.icon-list{
    li{
        display: inline;
        text-decoration: none;
    }
    &.alternate-icon{
        i{
            border: 1px solid $color-3;
            border-radius: 100%;
            padding: 0.3em;
        }
        
    }
}

.item-text{
    margin-left: 2em;
}