@import './Axelize/index.scss';

body{
    background: radial-gradient(ellipse at top, $color-neutral, $color-text);
}

//----------------------------------
// MAIN HEADER
//----------------------------------
.main-header{
    margin: 5rem 0;
    &--title1{
        color: white;
        border: 5px solid white;
        display: inline-block;
        padding: 1rem 1.75rem;
    }
    &--info{
        color: white;
        h1{
            color: white;
        }
    }
}

//-----------------------------------
// MAIN NAV
//-----------------------------------
.main-nav{
    font-family: $font-2;
    font-weight: 900;
}

//----------------------------------
// MAIN CONTENT
//----------------------------------
.main-content{
    background: #fff;
    padding: 2em;
    
}

.main-index{
    background: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

//----------------------------------
// MAIN FOOTER
//----------------------------------
.main-footer{

}

//----------------------------------
// BACKGROUND
//----------------------------------
.background{
    background: linear-gradient($color-neutral, $color-3);
}