@import './Axelize/index.scss';

body{
    background: radial-gradient(ellipse at top, $color-neutral, $color-text);
}

//----------------------------------
// MAIN HEADER
//----------------------------------
.main-header{
    margin: 5rem 0;
    &--title1{
        color: white;
        border: 5px solid white;
        display: inline-block;
        padding: 1rem 1.75rem;
    }
}

//----------------------------------
// MAIN CONTENT
//----------------------------------
.main-content{
    background: #fff;
    padding: 2em;
    border-radius: $border-radius-default;
}

//----------------------------------
// MAIN FOOTER
//----------------------------------
.main-footer{

}